@import "tailwindcss";

@theme {
  --color-primary: #0A2558;
  --color-primary-light: #185ADB;
  --color-primary-dark: #051535;
  --color-gold: #C59B27;
  --color-gold-hover: #A8821B;
  --color-navy: #0A2558;
  --color-navy-dark: #07193C;
  --color-light-blue: #EEF4FC;
  --color-beige: #F8FAFC;
  --color-sand: #FFFFFF;
  --color-gray-text: #334155;
}

@layer base {
  body {
    @apply antialiased text-gray-text bg-white;
  }
}
